<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="row justify-content-center w-100">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <h2>Reenviar instrucciones de confirmación</h2>
        </div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <%= f.full_error :confirmation_token %>
            <div class="form-floating mb-3">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                          input_html: { class:"form-control", autocomplete: "email" } %>
            </div>
            <div class="d-grid">
              <%= f.button :submit, "Reenviar confirmación", class: "btn btn-success" %>
            </div>
          <% end %>          
        </div>
        <div class="card-footer text-left">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
