<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="row justify-content-center w-100">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <h2>Renueva tu contraseña</h2>
        </div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put }) do |f| %>
          <%= render partial: 'devise/shared/error_messages' %>
            <div class="form-floating mb-3">
              <%= f.input :current_password,
                          required: true,
                          autofocus: true,
                          input_html: { class: "form-control" } %>
            </div>
            <div class="form-floating mb-3">
              <%= f.input :password,
                          required: true,
                          input_html: { class: "form-control" } %>
            </div>
            <div class="form-floating mb-3">
              <%= f.input :password,
                          required: true,
                          input_html: { class: "form-control" } %>
            </div>
            <div class="d-grid" >
                  <%= f.button :submit, "Actualizar contraseña",  class: "btn btn-success btn-block" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer text-left">
        </div>
      </div>
    </div>
  </div>
</div>